/** {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }*/
/*@import "ipad.css";
@import "tel.css";
@import "ordi.css";*/

html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

body  {
  position: relative;
  background-color: #29AAA7;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
}

/*// -----------------
// code for header
*/
#banner {
  background: #29AAA7;
  color: black;
  font-weight: blod;
  display: flex;
  justify-content: space-between;
}

.container-wrapper {
  display: grid;

}
